# ignore .git and .cache folders
.git
.cache

# environment files (may contain secrets)
.env

# python object code
**/*.pyc
__pycache__

# js
node_modules
package-lock.json

# Test files
test.log
test.sh

# coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
